/*

   This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-202x POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.

*/
:root {
  /* text */
  --text-link: #0ab7f0;
  --text-link-visited: #00c0ff;
  --text-color: #ffffff;
  --text-font-primary: "PokeTube Flex";
  --text-header-weight: 1000;

  /* Divs */
  --div-gradient: linear-gradient(
    135deg,
    #f97794 10%,
    #623aa2 100%,
    #8e6f7e 100%
  );
  --div-border-color: #7c44a0;
  --div-prim-bg: #1c1c1c;
  --div-second-bg: #1a1a1a;
  --div-transparent-bg: #0009;

  --gutter: 1.67em; /* gutter variable - see line 330 */

  /* PTD start */

  --video-player-height-max: 720px;
  --video-player-width-max: 1280px;

  /* poketube color palette */
  --ptc-very-red: #ff0000;
  --ptc-very-blue: #0000ff;
  --ptc-very-green: #00ff00;
  --ptc-very-pink: #ff00ff;
  --ptc-very-yellow: #ffff00;
  --ptc-cyan: #00ffff;
  --ptc-href-color: #0ab7f0;
  --ptc-transparent: #0009;
  --ptc-purple-borders: #7c44a0;
  --ptc-gradient: linear-gradient(
    135deg,
    #f97794 10%,
    #623aa2 100%,
    #8e6f7e 100%
  );

  --ptd-watch-min-player-height: 360px;
  --ptd-watch-width-ratio: 16;
  --ptd-watch-height-ratio: 9;
  --ptd-watch-sidebar-min-width: 300px;

  /* margins */
  --ptd-grid-base: 103px;
  --ptd-margin-base: 4px;
  --ptd-avatar-size: 32px;
  --ptd-toolbar-height: 56px;
  --ptd-margin-2x: 8px;
  --ptd-margin-3x: 12px;
  --ptd-margin-4x: 16px;
  --ptd-margin-5x: 20px;
  --ptd-margin-6x: 24px;
  --ptd-margin-7x: 28px;
  --ptd-margin-8x: 32px;
  --ptd-margin-9x: 36px;
  --ptd-margin-10x: 40px;
  --ptd-margin-11x: 44px;
  --ptd-margin-12x: 48px;
  --ptd-margin-14x: 56px;
  --ptd-margin-16x: 64px;
  --ptd-margin-17x: 68px;
  --ptd-margin-24x: 96px;
  --ptd-margin-25x: 100px;
  --ptd-margin-35x: 140px;
  --ptd-neg-margin-base: -4px;
  --ptd-neg-margin-2x: -8px;
  --ptd-neg-margin-3x: -12px;
  --ptd-neg-margin-4x: -16px;
  --ptd-neg-margin-5x: -20px;
  --ptd-neg-margin-6x: -24px;
  --ptd-neg-margin-7x: -28px;
  --ptd-neg-margin-8x: -32px;
  --ptd-neg-margin-10x: -40px;
  --ptd-neg-margin-11x: -44px;
  --ptd-neg-margin-12x: -48px;
  --ptd-neg-margin-14x: -56px;
  --ptd-neg-margin-16x: -64px;
  --ptd-neg-margin-24x: -96px;
  --ptd-neg-margin-25x: -100px;
}

a.class:hover {
  text-decoration: underline;
  font-weight: bold;
}

summary {
  color: gray;
}
summary:hover {
  color: white;
}

:visited {
  color: var(--text-link-visited);
}

a {
  color: var(--text-link);
}

.video > .info > .title {
  font-family: var(--text-font-primary);
  width: 10em;
}

.video-info-panel > .video-title > a {
  white-space: nowrap;
}

.video-info-panel > .video-title {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: max-content;
  display: -webkit-box;
  word-break: break-all;
}

.video-sub-info.description {
  box-sizing: border-box;
  min-width: 100%;
  font-weight: 600;
  margin-top: 1em !important;
  border-radius: 21px;
  margin-bottom: 0.1em;
  font-stretch: expanded;
  justify-self: center;
  font-family: var(--text-font-primary);
  border-style: solid;
}

.video-sub-info.description > .video-title {
  font-family: var(--text-font-primary);
  font-weight: 1000;
  font-stretch: extra-expanded;
  font-size: larger;
}

.recommended-list {
  background-color: var(--div-prim-bg);
  border-radius: 25px;
  margin: 10px;
  margin-top: 0px;
  margin-left: 0px;
  height: -moz-fit-content;
  height: fit-content;
  justify-self: center;
  margin-right: -0.9em;
  /* width: min-content;*/
  border: var(--div-border-color);
  border-style: solid;
  max-width: 371px;
  width: max-content;
}

.video-views {
  white-space: nowrap;
}

.video-info-panel.gradient {
  padding: 12px;
  border-radius: 11px;
  background-image: var(--div-gradient);
  display: block;
  box-sizing: border-box;
  min-width: 100%;
}

.video-info-pill-channelname {
  color: #fff;
  word-wrap: break-word;
  font-family: var(--text-font-primary);
  font-weight: 1000;
  font-stretch: ultra-expanded;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  display: block ruby;
  text-overflow: ellipsis;
  max-width: 7em;
  white-space: nowrap;
}

.comments-author.owner {
  margin: 5px;
  font-family: inter;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: anywhere;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
  background: #4a4a4a;
  padding: 4px;
  border-radius: 6px;
  width: auto;
  height: 1.2em;
  justify-self: center;
}

.video-chnl-info-pill {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 48px max-content 1fr min-content;
  grid-template-rows: 16px 16px;
  grid-auto-columns: 1fr;
  column-gap: 8px;
  row-gap: 4px;
  grid-auto-flow: row;
  grid-template-areas: "avatar name . subscribe-button" "avatar subs . subscribe-button";
  padding: 8px;
  border-radius: 35px;
  font-family: Inter;
  clear: both;
  margin-top: 1.1em;
  padding: 4.5px;
  background: #0009;
  margin-right: -13px;
  width: fit-content;
  height: fit-content;
  width: -moz-fit-content;
  height: -moz-fit-content;
  border-radius: 43px;
  font-size: 15px;
  margin-right: auto;
  display: flex;
  border: none;
}

.video-info-buttons.pill {
  border-radius: 16px;
  padding: 4px;
  border-style: none;
  min-height: 34px;
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  height: min-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  margin-left: auto;
  margin-right: inherit;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin-top: -2.9em;
}

.comments-author {
  margin: 7px;
  font-family: inter;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: anywhere;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
}

.comments-class-or-something-i-cant-find-a-name-lol {
  background: var(--div-prim-bg);
  border-radius: 2em;
  padding: 10px;
  padding-top: 0;
  margin: auto;
  border: var(--div-border-color);
  border-style: solid;
}

.subscribe-button {
  color: red;
  margin: auto;
  background: white;
  border-radius: 2em;
  margin-right: 6px;
  text-transform: initial;
}

.subscribe-button > a {
  color: black;
}

.video > .thumbnail > .video-length {
  font-size: smaller;
  background-color: #0008;
  color: #fff;
  padding: 2px;
  border-radius: 3px;
  font-family: var(--text-font-primary);
  font-stretch: 100%;
  font-weight: 600;
}

.tags {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  column-gap: 3px;
}

.tag {
  background: #333;
  padding: 5px;
  border-radius: 4px;
  word-break: break-all;
  white-space: nowrap;
}

.new-button {
  background: #0009;
  border-radius: 2em;
  padding-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.pill-button {
  margin-left: 1em;
}

.vertical {
  border-left: 1px solid gray;
  height: 15px;
}

.date-publish {
  margin: 0;
  margin-top: 0px;
  margin-top: 12px;
  font-size: small;
  color: gray !important;
  white-space: nowrap;
}

.video > .thumbnail {
  border: 1px white solid;
}

.video-player-container {
  margin: inherit;

  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100%;
}

.watch-page {
  display: flex;
  gap: var(--gutter);
  margin-inline: var(--gutter);
}

@media screen and (min-width: 1400px) {
  .watch-page {
    max-width: calc(1280px + 3 * var(--ptd-margin-6x));
    min-width: calc(
      var(--ptd-watch-min-player-height) * var(--ptd-watch-width-ratio) /
        var(--ptd-watch-height-ratio) + 3 * var(--ptd-margin-6x) +
        var(--ptd-watch-sidebar-min-width)
    );
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: var(--gutter);
  }
}

.description-new {
  grid-area: description;
  font-size: 1rem;
  color: var(--text-primary);
  background: var(--div-prim-bg);
  padding: 16px;
  border-radius: 1.2em;
  border: var(--div-border-color);
  border-style: solid;
}
