  <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2023 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html><head>
    <title>Poketube - Legal mumbo jumbo</title>
      <link rel="stylesheet" href="/css/pv.main.css?v=5444" type="text/css" />
     <link href=/css/app.main.css rel=stylesheet>
   <link href=https://poketube.fun/css/yt-ukraine.svg rel=icon>
    <meta content=website property=og:type>
    <meta content="PokeTube - Legal thingy to put you into sleep" property=og:title>
    <meta content="This is the PokeTube Privacy Policy meta description. Wow, helpful meta description PokeTube. Thanks!" property=twitter:description>
    <meta content="https://cdn.glitch.global/43b6691a-c8db-41d4-921c-8cf6aa0d9108/17a7fa1d-cdf9-4b73-9686-21e62c7fb285.image.png?v=1667739586452" property=og:image>
  <meta content=summary_large_image name=twitter:card>
     <meta content="#1a1a1a" name="theme-color">
  <link href="https://fonts.poketube.fun/css/fonts.css" rel=stylesheet>

 <style>
   @font-face {
font-family: 'Ginto Nord';
font-weight: 800;
src:url('https://p.poketube.fun/https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }
   
   h3, h2 {
     font-family: 'Ginto Nord';

   }
             :visited { color: #00c0ff }
     
a{
  color:#0ab7f0;
</style>
</head>
  <body id="pg-privacy" class="page-privacy">
 
 
    <div class="site-wrapper site-wrapper--static js-site-wrapper">
 
        <div class="header-wrap--hero js-header-wrap">
        
         </div>

       </header>

      <div id="content_wrapper" class="content-wrap">
        <div class="blk blk--hero">
          <div class="cw--c">
            <a class="anchor" name="top"></a>
            <div class="logo--dax" title="PokeTube"></div>
            <div class="blk__text blk__text--hero-privacy js-privacy-hero">
              <h1 class="hd-hr">
 We dont collect or share your personal information!</h1>                         <h5 class="hd-hr"> That's our privacy policy TL;DR lol</h5>
  
   
             </div>
          </div>
        </div>
        <div class="blk blk--alt blk--content">
          <div class="cw--c">
            <div class="blk__text">
             
              <p>
                <b
                  > <p>Poketube does not collect or share personal information. poketube is a free software program that you can fork it yourself. you can see the repo <a href="https://codeberg.org/ashley/poketube/">here</a>.<br><br> <a href="https://github.com/iamashley0/poketube/commits/main/html/priv.ejs">see history of this privacy policy here</a></p>
                  
        <p>
          You dont have to read this entire policy as it might put you to sleep. So in TL;DR:We dont collect or share your personal information. thats it lol
                  </p> <p> this privacy policy only applies to the offical instances of poketube. (poketube.fun,
poketube.online,
poketube.site,
poketube.xyz and
watch.poketalebot.com) the privacy policy may defer from instance to instance.</p>
                  <ul>
                    <h3> SECTIONS </h3>
  <li><a href="#s0">Preamble</a></li>

  <li><a href="#s1">Information Not Collected</a></li>
                     
	<li><a href="#s2">Information Collected</a></li>
                    
  <li><a href="#s3"> Information Shared</a></li>
  
  <li><a href="#s4">Tools We use</a></li>
                    
     <li><a href="#s5">Liability</a></li>
 
  </ul>

               <h2 class="hd-lg">The Boring Part</h2>      
                  <p>BORINGG SHUT UP NERD</p>
                  <hr class="hr" />
             <a class="anchor" name="s0"></a>
   <p style="font-family:Monospace;font-size:medium;">
     POKETUBE POLICY LICENSE INFO<br>
     ===================================<br><br>


     Copyright (C) 2021-2023 POKETUBE <br><br>

     
     This policy is licensed under the Creative Commons Attribution-ShareAlike 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/4.0/<br><br>

      ===================================

                  </p>
               <h3 class="hd-md">
              Preamble&nbsp;
               </h3>
                  <p>
                    <i>Please note that im not a lawyer, so dont execpt too much on this policy :P</i>
                  </p>
 <p>
   Haiii! Welcome to PokeTubes Privacy Policy! We Dont collect or share your information. Ever. When we collect information, we mean, aggregated information (see "Information Collected" section for more info). The main reason that we dont collect your information is we care about your privacy. like alot (like alot alot). see; whynottrack.com<br><br>
 We are free software, meaning you have freedom while using PokeTube. <a href="https://www.gnu.org/philosophy/free-software-even-more-important.html">Learn why you should care about your freedom here</a>. 
<br><br>
We dont use javascript on the front-end of PokeTube. Meaning that you can use PokeTube With no javascript add-ons. <a href="https://www.gnu.org/philosophy/javascript-trap.html">Learn Why here.</a>
<br><br>
P.S:I love you <3
                  </p>     
                  <hr class="hr" />
                 <p>START OF PRIVACY POLICY</p>
                  <a class="anchor" name="s1"></a>
               <h3 class="hd-md">
                Information Not Collected &nbsp;
               </h3>
 
              <p>
                (yes, you heard it right,  Information <i> Not Collected </i>) <br><br>
            When you watch a video at PokeTube, we don't know who you are and there is no way to tie the things you are watching.
When you access a website, your Web browser automatically sends information about your computer. (e.g. your User agent and IP address.)<br><br>

Because this information could be used to link you to your peronsal information, we do not log (store) it at all. This is a very unusual practice, but we feel it is an important step to protect your privacy.

It is unusual for a reason. most server software auto-stores this information, so you have to go out of your way not to store it. At PokeTube, no cookies are used by default. PokeTube Doesnt use cookies (See the storage tab yourself!).
<br><br>
          
At PokeTube, we dont collect your personal information or share it. We dont collect your IP address. Your device metadata (e.g. device resolution, OS etc.) is not collected in anyway. <br><br>
                
Our servers are secured with SHA-384 Signature Algorithm; meaning we cant see the videos you watching, things you search, or things you do. Learn more <a href="https://en.wikipedia.org/wiki/Secure_Hash_Algorithms">About hash Algorithms here.</a><br><br> 

We migth use third party services on PokeTube, but third party request on PokeTube is proxied by default. no third party can see wat the hell ru doing on PokeTube. We do this by proxying the requests via a whole diffrent server, so no third party can see you.<br><br> 
                  </p>
<a class="anchor" name="s2"></a>
               <h3 class="hd-md">
                Information Collected &nbsp;
               </h3>
               <p>We use a tool called Piwik (A free software Web analytics system, see piwik.org) to collect information. By information we mean, aggregated data about things such as the number of visits daily/weekly/monthly to PokeTube. <br><br>  This data can't be used to identify you or your device or to learn anything about you individually. This Information thats being collected is anonymous and only analyzed in aggregate. It will never identify you or your machine.<br><br>  This Process does not use cookies in any way. If you want to opt out (for some reason, we still dont know why lol), Click the "Opt out Of Metrics" Button on the bottom rigth side of the player. No data that identifies you or that can be linked to you as an individual is collected on poketube.</p><p>We Also save searches, but again, not in a personally identifiable way, as we do not store IP addresses or unique User agent strings. We use aggregate, non-personal search data.<br><br>
Finally, if you Subscribe to updates on <a href="//status.poketube.fun">PokeTube status site</a>, we may be store your email to send you email notifications whenever we create, update or resolve an incident. you can also use a <a href="https://duckduckgo.com/email/">Private Duck Address</a> to keep your email identity hidden and a email that can be easily deactivated. Subscribing to updates is optional to do so !</p> 
                  
                  
                       <h3 class="hd-md">
                Information Shared &nbsp;
               </h3>
                                                      <a class="anchor" name="s3"></a>
        
                <p>
ru fr or ong? WE DONT SHARE YOUR INFO LOL 
              </p>
 
         <h3 class="hd-md">
                 Tools we use &nbsp;
               </h3>
                <a class="anchor" name="s4"></a>

<p>
  <i>Any requests being made to these tools are being proxied by poketubes proxy</i><br><br>
  
  We use ReturnYoutubeDislike's api to get dislike information.<br></p>
                  
                                    <p>
We use Apples Itunes Service to get song info. we do not send any unique identifiers such as IP addresses to Apple, and you are still anonymous.
                  </p>
<p>We use LightTube's api to get ;</p>
             <ul>
	<li>- Video information </li>
	<li>- Recomended videos </li>
	<li>- Channel information</li>
                  </ul>
                     No personal Information is collected by the tools we use.  
                  </p>
                
                 

                      <h3 class="hd-md">
                    Liability
                  </h3>
                              <a class="anchor" name="s5"></a>

                  <p>
                    We take no responsibility for the use of our tool, or external instances provided by third parties. We strongly recommend you abide by the valid official regulations in your country. Furthermore, we refuse liability for any inappropriate use of PokeTube, such as illegal downloading. This tool is provided to you in the spirit of free, libre software.
                  </p>
                  <p>
                    You may view the GPL V3 licence which this software is provided to you <a href="https://www.gnu.org/licenses/gpl-3.0.html">here</a>.
                    
                    a copy of the section is bellow.
                  </p>
                  <blockquote>
                    <pre>
IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING WILL ANY COPYRIGHT HOLDER, OR ANY OTHER PARTY WHO MODIFIES AND/OR CONVEYS THE PROGRAM AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE PROGRAM (INCLUDING BUT NOT LIMITED TO LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE OF THE PROGRAM TO OPERATE WITH ANY OTHER PROGRAMS), EVEN IF SUCH HOLDER OR OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</pre>
</blockquote>
                                <p>END OF PRIVACY POLICY</p>
                                 <hr class="hr" />
      <p>This is the end of our privacy policy (so helpful ik)</p>
                     
                               
              <h2 class="hd-lg">Other Cool Stuff</h2>
              <p>
                holly shit these are stuff that are not boring (real)
              </p>
              <hr class="hr" />
          
                        <h3 class="hd-md">
              Other Free YouTube Front-Ends &nbsp;
               </h3>
<p>If you care about privacy and your freedom, you might also want to check out these other YouTube Front-ends that take it seriously by default</p>
<ul>
	<li><a href="https://invidious.io/">Invidious</a> [<a href="https://github.com/iv-org/invidious">Source Code</a>] </li>
  <li><a href="https://tube.kuylar.dev/">LightTube</a> [<a href="https://gitlab.com/kuylar/lighttube">Source Code</a>]</li>
</ul>
                 <p>Each One does things a bit differently in terms of privacy and your freedom. However, none store your personal information by default and they are free software, which make them all pretty safe in our opinion</p>           
                     <h3 class="hd-md">
              License &nbsp;
               </h3>
                  <p>
                    PokeTube is free software, You can fork and modify the source code under the terms of the GNU General Public License Version 3 or later. our source code is <a href="https://codeberg.org/ashley/poketube">Here!</a>
                  </p>
                  <p>
                    see our <a href="/license">license</a> page
                  </p>
              <h3 class="hd-md">
                Feedback &nbsp;
               </h3>
              <p>
                I (<a href="https://iamashley.xyz">Ashley</a>) am the creator of Poketube and personally wrote this privacy policy. If you have any questions or concerns, please submit feedback on codeberg :3
              </p>
                  <h3 class="hd-md">
                Ty!  &lt;3 &nbsp;
               </h3>
                <p>
                Thank you qt for reading this privacy policy, <a style="color:#fff" href="/143">ILY</a>&lt;3 
                  </p>
            
               
             </div>
            <!-- .blk__text //-->
          </div>
          <!-- .cw--c //-->
        </div>
        <!-- .blk.blk--alt //-->
 
      </div>
      <!-- content_wrapper //-->
    </div>
    <!-- site-wrapper -->
  </body>
</html>
